button {
    border: none;
}

.btn-cart {

    width: 150px;
    height: 35px;
    background: rgb(144, 95, 235);
    font-family: Georgia;
    font-size: 25px;
    line-height: 19px;
    color: #FFFFFF;
    border-radius: 20px;
}

.products {
    display: flex;
    justify-content: flex-start;
}

.product-item {
    background: rgba(144, 95, 235, 0.274);
    font-family: Georgia;
    font-size: 19px;
    padding-left: 15px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: 0.4em 0.4em 20px rgb(122 122 122 / 30%);
}

.by-btn {
    background: rgb(144, 95, 235);
    color: white;
    font-family: Georgia;
}